<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>QCF_FullSurah_HD-Regular.ttf</string>
		<string>arbfonts_Qurraan_sora.otf</string>
		<string>QCF2001.ttf</string>
		<string>QCF2002.ttf</string>
		<string>QCF2003.ttf</string>
		<string>QCF2004.ttf</string>
		<string>QCF2005.ttf</string>
		<string>QCF2006.ttf</string>
		<string>QCF2007.ttf</string>
		<string>QCF2008.ttf</string>
		<string>QCF2009.ttf</string>
		<string>QCF2010.ttf</string>
		<string>QCF2011.ttf</string>
		<string>QCF2012.ttf</string>
		<string>QCF2013.ttf</string>
		<string>QCF2014.ttf</string>
		<string>QCF2015.ttf</string>
		<string>QCF2016.ttf</string>
		<string>QCF2017.ttf</string>
		<string>QCF2018.ttf</string>
		<string>QCF2019.ttf</string>
		<string>QCF2020.ttf</string>
		<string>QCF2021.ttf</string>
		<string>QCF2022.ttf</string>
		<string>QCF2023.ttf</string>
		<string>QCF2024.ttf</string>
		<string>QCF2025.ttf</string>
		<string>QCF2026.ttf</string>
		<string>QCF2027.ttf</string>
		<string>QCF2028.ttf</string>
		<string>QCF2029.ttf</string>
		<string>QCF2030.ttf</string>
		<string>QCF2031.ttf</string>
		<string>QCF2032.ttf</string>
		<string>QCF2033.ttf</string>
		<string>QCF2034.ttf</string>
		<string>QCF2035.ttf</string>
		<string>QCF2036.ttf</string>
		<string>QCF2037.ttf</string>
		<string>QCF2038.ttf</string>
		<string>QCF2039.ttf</string>
		<string>QCF2040.ttf</string>
		<string>QCF2041.ttf</string>
		<string>QCF2042.ttf</string>
		<string>QCF2043.ttf</string>
		<string>QCF2044.ttf</string>
		<string>QCF2045.ttf</string>
		<string>QCF2046.ttf</string>
		<string>QCF2047.ttf</string>
		<string>QCF2048.ttf</string>
		<string>QCF2049.ttf</string>
		<string>QCF2050.ttf</string>
		<string>QCF2051.ttf</string>
		<string>QCF2052.ttf</string>
		<string>QCF2053.ttf</string>
		<string>QCF2054.ttf</string>
		<string>QCF2055.ttf</string>
		<string>QCF2056.ttf</string>
		<string>QCF2057.ttf</string>
		<string>QCF2058.ttf</string>
		<string>QCF2059.ttf</string>
		<string>QCF2060.ttf</string>
		<string>QCF2061.ttf</string>
		<string>QCF2062.ttf</string>
		<string>QCF2063.ttf</string>
		<string>QCF2064.ttf</string>
		<string>QCF2065.ttf</string>
		<string>QCF2066.ttf</string>
		<string>QCF2067.ttf</string>
		<string>QCF2068.ttf</string>
		<string>QCF2069.ttf</string>
		<string>QCF2070.ttf</string>
		<string>QCF2071.ttf</string>
		<string>QCF2072.ttf</string>
		<string>QCF2073.ttf</string>
		<string>QCF2074.ttf</string>
		<string>QCF2075.ttf</string>
		<string>QCF2076.ttf</string>
		<string>QCF2077.ttf</string>
		<string>QCF2078.ttf</string>
		<string>QCF2079.ttf</string>
		<string>QCF2080.ttf</string>
		<string>QCF2081.ttf</string>
		<string>QCF2082.ttf</string>
		<string>QCF2083.ttf</string>
		<string>QCF2084.ttf</string>
		<string>QCF2085.ttf</string>
		<string>QCF2086.ttf</string>
		<string>QCF2087.ttf</string>
		<string>QCF2088.ttf</string>
		<string>QCF2089.ttf</string>
		<string>QCF2090.ttf</string>
		<string>QCF2091.ttf</string>
		<string>QCF2092.ttf</string>
		<string>QCF2093.ttf</string>
		<string>QCF2094.ttf</string>
		<string>QCF2095.ttf</string>
		<string>QCF2096.ttf</string>
		<string>QCF2097.ttf</string>
		<string>QCF2098.ttf</string>
		<string>QCF2099.ttf</string>
		<string>QCF2100.ttf</string>
		<string>QCF2101.ttf</string>
		<string>QCF2102.ttf</string>
		<string>QCF2103.ttf</string>
		<string>QCF2104.ttf</string>
		<string>QCF2105.ttf</string>
		<string>QCF2106.ttf</string>
		<string>QCF2107.ttf</string>
		<string>QCF2108.ttf</string>
		<string>QCF2109.ttf</string>
		<string>QCF2110.ttf</string>
		<string>QCF2111.ttf</string>
		<string>QCF2112.ttf</string>
		<string>QCF2113.ttf</string>
		<string>QCF2114.ttf</string>
		<string>QCF2115.ttf</string>
		<string>QCF2116.ttf</string>
		<string>QCF2117.ttf</string>
		<string>QCF2118.ttf</string>
		<string>QCF2119.ttf</string>
		<string>QCF2120.ttf</string>
		<string>QCF2121.ttf</string>
		<string>QCF2122.ttf</string>
		<string>QCF2123.ttf</string>
		<string>QCF2124.ttf</string>
		<string>QCF2125.ttf</string>
		<string>QCF2126.ttf</string>
		<string>QCF2127.ttf</string>
		<string>QCF2128.ttf</string>
		<string>QCF2129.ttf</string>
		<string>QCF2130.ttf</string>
		<string>QCF2131.ttf</string>
		<string>QCF2132.ttf</string>
		<string>QCF2133.ttf</string>
		<string>QCF2134.ttf</string>
		<string>QCF2135.ttf</string>
		<string>QCF2136.ttf</string>
		<string>QCF2137.ttf</string>
		<string>QCF2138.ttf</string>
		<string>QCF2139.ttf</string>
		<string>QCF2140.ttf</string>
		<string>QCF2141.ttf</string>
		<string>QCF2142.ttf</string>
		<string>QCF2143.ttf</string>
		<string>QCF2144.ttf</string>
		<string>QCF2145.ttf</string>
		<string>QCF2146.ttf</string>
		<string>QCF2147.ttf</string>
		<string>QCF2148.ttf</string>
		<string>QCF2149.ttf</string>
		<string>QCF2150.ttf</string>
		<string>QCF2151.ttf</string>
		<string>QCF2152.ttf</string>
		<string>QCF2153.ttf</string>
		<string>QCF2154.ttf</string>
		<string>QCF2155.ttf</string>
		<string>QCF2156.ttf</string>
		<string>QCF2157.ttf</string>
		<string>QCF2158.ttf</string>
		<string>QCF2159.ttf</string>
		<string>QCF2160.ttf</string>
		<string>QCF2161.ttf</string>
		<string>QCF2162.ttf</string>
		<string>QCF2163.ttf</string>
		<string>QCF2164.ttf</string>
		<string>QCF2165.ttf</string>
		<string>QCF2166.ttf</string>
		<string>QCF2167.ttf</string>
		<string>QCF2168.ttf</string>
		<string>QCF2169.ttf</string>
		<string>QCF2170.ttf</string>
		<string>QCF2171.ttf</string>
		<string>QCF2172.ttf</string>
		<string>QCF2173.ttf</string>
		<string>QCF2174.ttf</string>
		<string>QCF2175.ttf</string>
		<string>QCF2176.ttf</string>
		<string>QCF2177.ttf</string>
		<string>QCF2178.ttf</string>
		<string>QCF2179.ttf</string>
		<string>QCF2180.ttf</string>
		<string>QCF2181.ttf</string>
		<string>QCF2182.ttf</string>
		<string>QCF2183.ttf</string>
		<string>QCF2184.ttf</string>
		<string>QCF2185.ttf</string>
		<string>QCF2186.ttf</string>
		<string>QCF2187.ttf</string>
		<string>QCF2188.ttf</string>
		<string>QCF2189.ttf</string>
		<string>QCF2190.ttf</string>
		<string>QCF2191.ttf</string>
		<string>QCF2192.ttf</string>
		<string>QCF2193.ttf</string>
		<string>QCF2194.ttf</string>
		<string>QCF2195.ttf</string>
		<string>QCF2196.ttf</string>
		<string>QCF2197.ttf</string>
		<string>QCF2198.ttf</string>
		<string>QCF2199.ttf</string>
		<string>QCF2200.ttf</string>
		<string>QCF2201.ttf</string>
		<string>QCF2202.ttf</string>
		<string>QCF2203.ttf</string>
		<string>QCF2204.ttf</string>
		<string>QCF2205.ttf</string>
		<string>QCF2206.ttf</string>
		<string>QCF2207.ttf</string>
		<string>QCF2208.ttf</string>
		<string>QCF2209.ttf</string>
		<string>QCF2210.ttf</string>
		<string>QCF2211.ttf</string>
		<string>QCF2212.ttf</string>
		<string>QCF2213.ttf</string>
		<string>QCF2214.ttf</string>
		<string>QCF2215.ttf</string>
		<string>QCF2216.ttf</string>
		<string>QCF2217.ttf</string>
		<string>QCF2218.ttf</string>
		<string>QCF2219.ttf</string>
		<string>QCF2220.ttf</string>
		<string>QCF2221.ttf</string>
		<string>QCF2222.ttf</string>
		<string>QCF2223.ttf</string>
		<string>QCF2224.ttf</string>
		<string>QCF2225.ttf</string>
		<string>QCF2226.ttf</string>
		<string>QCF2227.ttf</string>
		<string>QCF2228.ttf</string>
		<string>QCF2229.ttf</string>
		<string>QCF2230.ttf</string>
		<string>QCF2231.ttf</string>
		<string>QCF2232.ttf</string>
		<string>QCF2233.ttf</string>
		<string>QCF2234.ttf</string>
		<string>QCF2235.ttf</string>
		<string>QCF2236.ttf</string>
		<string>QCF2237.ttf</string>
		<string>QCF2238.ttf</string>
		<string>QCF2239.ttf</string>
		<string>QCF2240.ttf</string>
		<string>QCF2241.ttf</string>
		<string>QCF2242.ttf</string>
		<string>QCF2243.ttf</string>
		<string>QCF2244.ttf</string>
		<string>QCF2245.ttf</string>
		<string>QCF2246.ttf</string>
		<string>QCF2247.ttf</string>
		<string>QCF2248.ttf</string>
		<string>QCF2249.ttf</string>
		<string>QCF2250.ttf</string>
		<string>QCF2251.ttf</string>
		<string>QCF2252.ttf</string>
		<string>QCF2253.ttf</string>
		<string>QCF2254.ttf</string>
		<string>QCF2255.ttf</string>
		<string>QCF2256.ttf</string>
		<string>QCF2257.ttf</string>
		<string>QCF2258.ttf</string>
		<string>QCF2259.ttf</string>
		<string>QCF2260.ttf</string>
		<string>QCF2261.ttf</string>
		<string>QCF2262.ttf</string>
		<string>QCF2263.ttf</string>
		<string>QCF2264.ttf</string>
		<string>QCF2265.ttf</string>
		<string>QCF2266.ttf</string>
		<string>QCF2267.ttf</string>
		<string>QCF2268.ttf</string>
		<string>QCF2269.ttf</string>
		<string>QCF2270.ttf</string>
		<string>QCF2271.ttf</string>
		<string>QCF2272.ttf</string>
		<string>QCF2273.ttf</string>
		<string>QCF2274.ttf</string>
		<string>QCF2275.ttf</string>
		<string>QCF2276.ttf</string>
		<string>QCF2277.ttf</string>
		<string>QCF2278.ttf</string>
		<string>QCF2279.ttf</string>
		<string>QCF2280.ttf</string>
		<string>QCF2281.ttf</string>
		<string>QCF2282.ttf</string>
		<string>QCF2283.ttf</string>
		<string>QCF2284.ttf</string>
		<string>QCF2285.ttf</string>
		<string>QCF2286.ttf</string>
		<string>QCF2287.ttf</string>
		<string>QCF2288.ttf</string>
		<string>QCF2289.ttf</string>
		<string>QCF2290.ttf</string>
		<string>QCF2291.ttf</string>
		<string>QCF2292.ttf</string>
		<string>QCF2293.ttf</string>
		<string>QCF2294.ttf</string>
		<string>QCF2295.ttf</string>
		<string>QCF2296.ttf</string>
		<string>QCF2297.ttf</string>
		<string>QCF2298.ttf</string>
		<string>QCF2299.ttf</string>
		<string>QCF2300.ttf</string>
		<string>QCF2301.ttf</string>
		<string>QCF2302.ttf</string>
		<string>QCF2303.ttf</string>
		<string>QCF2304.ttf</string>
		<string>QCF2305.ttf</string>
		<string>QCF2306.ttf</string>
		<string>QCF2307.ttf</string>
		<string>QCF2308.ttf</string>
		<string>QCF2309.ttf</string>
		<string>QCF2310.ttf</string>
		<string>QCF2311.ttf</string>
		<string>QCF2312.ttf</string>
		<string>QCF2313.ttf</string>
		<string>QCF2314.ttf</string>
		<string>QCF2315.ttf</string>
		<string>QCF2316.ttf</string>
		<string>QCF2317.ttf</string>
		<string>QCF2318.ttf</string>
		<string>QCF2319.ttf</string>
		<string>QCF2320.ttf</string>
		<string>QCF2321.ttf</string>
		<string>QCF2322.ttf</string>
		<string>QCF2323.ttf</string>
		<string>QCF2324.ttf</string>
		<string>QCF2325.ttf</string>
		<string>QCF2326.ttf</string>
		<string>QCF2327.ttf</string>
		<string>QCF2328.ttf</string>
		<string>QCF2329.ttf</string>
		<string>QCF2330.ttf</string>
		<string>QCF2331.ttf</string>
		<string>QCF2332.ttf</string>
		<string>QCF2333.ttf</string>
		<string>QCF2334.ttf</string>
		<string>QCF2335.ttf</string>
		<string>QCF2336.ttf</string>
		<string>QCF2337.ttf</string>
		<string>QCF2338.ttf</string>
		<string>QCF2339.ttf</string>
		<string>QCF2340.ttf</string>
		<string>QCF2341.ttf</string>
		<string>QCF2342.ttf</string>
		<string>QCF2343.ttf</string>
		<string>QCF2344.ttf</string>
		<string>QCF2345.ttf</string>
		<string>QCF2346.ttf</string>
		<string>QCF2347.ttf</string>
		<string>QCF2348.ttf</string>
		<string>QCF2349.ttf</string>
		<string>QCF2350.ttf</string>
		<string>QCF2351.ttf</string>
		<string>QCF2352.ttf</string>
		<string>QCF2353.ttf</string>
		<string>QCF2354.ttf</string>
		<string>QCF2355.ttf</string>
		<string>QCF2356.ttf</string>
		<string>QCF2357.ttf</string>
		<string>QCF2358.ttf</string>
		<string>QCF2359.ttf</string>
		<string>QCF2360.ttf</string>
		<string>QCF2361.ttf</string>
		<string>QCF2362.ttf</string>
		<string>QCF2363.ttf</string>
		<string>QCF2364.ttf</string>
		<string>QCF2365.ttf</string>
		<string>QCF2366.ttf</string>
		<string>QCF2367.ttf</string>
		<string>QCF2368.ttf</string>
		<string>QCF2369.ttf</string>
		<string>QCF2370.ttf</string>
		<string>QCF2371.ttf</string>
		<string>QCF2372.ttf</string>
		<string>QCF2373.ttf</string>
		<string>QCF2374.ttf</string>
		<string>QCF2375.ttf</string>
		<string>QCF2376.ttf</string>
		<string>QCF2377.ttf</string>
		<string>QCF2378.ttf</string>
		<string>QCF2379.ttf</string>
		<string>QCF2380.ttf</string>
		<string>QCF2381.ttf</string>
		<string>QCF2382.ttf</string>
		<string>QCF2383.ttf</string>
		<string>QCF2384.ttf</string>
		<string>QCF2385.ttf</string>
		<string>QCF2386.ttf</string>
		<string>QCF2387.ttf</string>
		<string>QCF2388.ttf</string>
		<string>QCF2389.ttf</string>
		<string>QCF2390.ttf</string>
		<string>QCF2391.ttf</string>
		<string>QCF2392.ttf</string>
		<string>QCF2393.ttf</string>
		<string>QCF2394.ttf</string>
		<string>QCF2395.ttf</string>
		<string>QCF2396.ttf</string>
		<string>QCF2397.ttf</string>
		<string>QCF2398.ttf</string>
		<string>QCF2399.ttf</string>
		<string>QCF2400.ttf</string>
		<string>QCF2401.ttf</string>
		<string>QCF2402.ttf</string>
		<string>QCF2403.ttf</string>
		<string>QCF2404.ttf</string>
		<string>QCF2405.ttf</string>
		<string>QCF2406.ttf</string>
		<string>QCF2407.ttf</string>
		<string>QCF2408.ttf</string>
		<string>QCF2409.ttf</string>
		<string>QCF2410.ttf</string>
		<string>QCF2411.ttf</string>
		<string>QCF2412.ttf</string>
		<string>QCF2413.ttf</string>
		<string>QCF2414.ttf</string>
		<string>QCF2415.ttf</string>
		<string>QCF2416.ttf</string>
		<string>QCF2417.ttf</string>
		<string>QCF2418.ttf</string>
		<string>QCF2419.ttf</string>
		<string>QCF2420.ttf</string>
		<string>QCF2421.ttf</string>
		<string>QCF2422.ttf</string>
		<string>QCF2423.ttf</string>
		<string>QCF2424.ttf</string>
		<string>QCF2425.ttf</string>
		<string>QCF2426.ttf</string>
		<string>QCF2427.ttf</string>
		<string>QCF2428.ttf</string>
		<string>QCF2429.ttf</string>
		<string>QCF2430.ttf</string>
		<string>QCF2431.ttf</string>
		<string>QCF2432.ttf</string>
		<string>QCF2433.ttf</string>
		<string>QCF2434.ttf</string>
		<string>QCF2435.ttf</string>
		<string>QCF2436.ttf</string>
		<string>QCF2437.ttf</string>
		<string>QCF2438.ttf</string>
		<string>QCF2439.ttf</string>
		<string>QCF2440.ttf</string>
		<string>QCF2441.ttf</string>
		<string>QCF2442.ttf</string>
		<string>QCF2443.ttf</string>
		<string>QCF2444.ttf</string>
		<string>QCF2445.ttf</string>
		<string>QCF2446.ttf</string>
		<string>QCF2447.ttf</string>
		<string>QCF2448.ttf</string>
		<string>QCF2449.ttf</string>
		<string>QCF2450.ttf</string>
		<string>QCF2451.ttf</string>
		<string>QCF2452.ttf</string>
		<string>QCF2453.ttf</string>
		<string>QCF2454.ttf</string>
		<string>QCF2455.ttf</string>
		<string>QCF2456.ttf</string>
		<string>QCF2457.ttf</string>
		<string>QCF2458.ttf</string>
		<string>QCF2459.ttf</string>
		<string>QCF2460.ttf</string>
		<string>QCF2461.ttf</string>
		<string>QCF2462.ttf</string>
		<string>QCF2463.ttf</string>
		<string>QCF2464.ttf</string>
		<string>QCF2465.ttf</string>
		<string>QCF2466.ttf</string>
		<string>QCF2467.ttf</string>
		<string>QCF2468.ttf</string>
		<string>QCF2469.ttf</string>
		<string>QCF2470.ttf</string>
		<string>QCF2471.ttf</string>
		<string>QCF2472.ttf</string>
		<string>QCF2473.ttf</string>
		<string>QCF2474.ttf</string>
		<string>QCF2475.ttf</string>
		<string>QCF2476.ttf</string>
		<string>QCF2477.ttf</string>
		<string>QCF2478.ttf</string>
		<string>QCF2479.ttf</string>
		<string>QCF2480.ttf</string>
		<string>QCF2481.ttf</string>
		<string>QCF2482.ttf</string>
		<string>QCF2483.ttf</string>
		<string>QCF2484.ttf</string>
		<string>QCF2485.ttf</string>
		<string>QCF2486.ttf</string>
		<string>QCF2487.ttf</string>
		<string>QCF2488.ttf</string>
		<string>QCF2489.ttf</string>
		<string>QCF2490.ttf</string>
		<string>QCF2491.ttf</string>
		<string>QCF2492.ttf</string>
		<string>QCF2493.ttf</string>
		<string>QCF2494.ttf</string>
		<string>QCF2495.ttf</string>
		<string>QCF2496.ttf</string>
		<string>QCF2497.ttf</string>
		<string>QCF2498.ttf</string>
		<string>QCF2499.ttf</string>
		<string>QCF2500.ttf</string>
		<string>QCF2501.ttf</string>
		<string>QCF2502.ttf</string>
		<string>QCF2503.ttf</string>
		<string>QCF2504.ttf</string>
		<string>QCF2505.ttf</string>
		<string>QCF2506.ttf</string>
		<string>QCF2507.ttf</string>
		<string>QCF2508.ttf</string>
		<string>QCF2509.ttf</string>
		<string>QCF2510.ttf</string>
		<string>QCF2511.ttf</string>
		<string>QCF2512.ttf</string>
		<string>QCF2513.ttf</string>
		<string>QCF2514.ttf</string>
		<string>QCF2515.ttf</string>
		<string>QCF2516.ttf</string>
		<string>QCF2517.ttf</string>
		<string>QCF2518.ttf</string>
		<string>QCF2519.ttf</string>
		<string>QCF2520.ttf</string>
		<string>QCF2521.ttf</string>
		<string>QCF2522.ttf</string>
		<string>QCF2523.ttf</string>
		<string>QCF2524.ttf</string>
		<string>QCF2525.ttf</string>
		<string>QCF2526.ttf</string>
		<string>QCF2527.ttf</string>
		<string>QCF2528.ttf</string>
		<string>QCF2529.ttf</string>
		<string>QCF2530.ttf</string>
		<string>QCF2531.ttf</string>
		<string>QCF2532.ttf</string>
		<string>QCF2533.ttf</string>
		<string>QCF2534.ttf</string>
		<string>QCF2535.ttf</string>
		<string>QCF2536.ttf</string>
		<string>QCF2537.ttf</string>
		<string>QCF2538.ttf</string>
		<string>QCF2539.ttf</string>
		<string>QCF2540.ttf</string>
		<string>QCF2541.ttf</string>
		<string>QCF2542.ttf</string>
		<string>QCF2543.ttf</string>
		<string>QCF2544.ttf</string>
		<string>QCF2545.ttf</string>
		<string>QCF2546.ttf</string>
		<string>QCF2547.ttf</string>
		<string>QCF2548.ttf</string>
		<string>QCF2549.ttf</string>
		<string>QCF2550.ttf</string>
		<string>QCF2551.ttf</string>
		<string>QCF2552.ttf</string>
		<string>QCF2553.ttf</string>
		<string>QCF2554.ttf</string>
		<string>QCF2555.ttf</string>
		<string>QCF2556.ttf</string>
		<string>QCF2557.ttf</string>
		<string>QCF2558.ttf</string>
		<string>QCF2559.ttf</string>
		<string>QCF2560.ttf</string>
		<string>QCF2561.ttf</string>
		<string>QCF2562.ttf</string>
		<string>QCF2563.ttf</string>
		<string>QCF2564.ttf</string>
		<string>QCF2565.ttf</string>
		<string>QCF2566.ttf</string>
		<string>QCF2567.ttf</string>
		<string>QCF2568.ttf</string>
		<string>QCF2569.ttf</string>
		<string>QCF2570.ttf</string>
		<string>QCF2571.ttf</string>
		<string>QCF2572.ttf</string>
		<string>QCF2573.ttf</string>
		<string>QCF2574.ttf</string>
		<string>QCF2575.ttf</string>
		<string>QCF2576.ttf</string>
		<string>QCF2577.ttf</string>
		<string>QCF2578.ttf</string>
		<string>QCF2579.ttf</string>
		<string>QCF2580.ttf</string>
		<string>QCF2581.ttf</string>
		<string>QCF2582.ttf</string>
		<string>QCF2583.ttf</string>
		<string>QCF2584.ttf</string>
		<string>QCF2585.ttf</string>
		<string>QCF2586.ttf</string>
		<string>QCF2587.ttf</string>
		<string>QCF2588.ttf</string>
		<string>QCF2589.ttf</string>
		<string>QCF2590.ttf</string>
		<string>QCF2591.ttf</string>
		<string>QCF2592.ttf</string>
		<string>QCF2593.ttf</string>
		<string>QCF2594.ttf</string>
		<string>QCF2595.ttf</string>
		<string>QCF2596.ttf</string>
		<string>QCF2597.ttf</string>
		<string>QCF2598.ttf</string>
		<string>QCF2599.ttf</string>
		<string>QCF2600.ttf</string>
		<string>QCF2601.ttf</string>
		<string>QCF2602.ttf</string>
		<string>QCF2603.ttf</string>
		<string>QCF2604.ttf</string>
		<string>QCF4001-Regular.ttf</string>
	</array>
</dict>
</plist>
